*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    overflow-y: hidden;
}

.nav_Bar_Section{
    display:flex;
    flex-wrap: wrap;
}

.navBar{
    background-color: #EDD8EB;
    height: 100vh;
    width:15rem;
    margin-left: 4.5rem;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.topNavBar{
    background-color: #fff;
    height: 3.5rem;
    width: 72rem;
}

.content{
    position: relative;
    top:-43rem;
    background-color: blue;
    width: 72.1rem;
    height: 100vh;
    left:19.5rem;
    text-align: center;
}